:root {
  --dark-color: #2C2A29;
  --black-color: #1F1F1F;
  --item-spacing: 8px;
  --mobile-item-spacing: 4px;
  --box-spacing: 24px;
  --small-border-radius: 16px;
  --large-border-radius: 24px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.page-spacing {
  width: 100%;
  height: 80px;
}

.text-center {
  text-align: center;
}

/* Upper section */
section.upper-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--item-spacing);
}

section.upper-section h3 {
  color: var(--dark-color);
  text-align: center;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: 40px;
  font-weight: 400;
  line-height: calc(54 / 40);
}

section.upper-section .images-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  margin: 0 auto;
  padding: 41px 0 41.11px;
}

section.upper-section .images-wrapper .images-item {
  width: 100%;
  max-width: 379px;
  aspect-ratio: 385 / 628;
  border-radius: var(--small-border-radius);
  overflow: hidden;
}

section.upper-section .images-wrapper .images-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.upper-section .section-desc {
  margin: 0 auto;
  max-width: 810px;
  color: var(--dark-color);
  font-family: "Lato", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-align-last: center;
}

section.upper-section .section-desc p {
  line-height: calc(21.635 / 16);
}

section.upper-section .section-desc p:first-of-type {
  vertical-align: middle;
  letter-spacing: 0.03px;
}

section.upper-section .section-desc p:nth-of-type(2) {
  letter-spacing: 0.05px;
  vertical-align: middle;
  margin-top: 18px;
}

/* Lower section */
section.lower-section {
  margin: 0 32px;
}

section.lower-section .section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--item-spacing);
}

section.lower-section .section-wrapper .box-item {
  width: 100%;
  border-radius: var(--large-border-radius);
  overflow: hidden;
  border: none;
  height: 800px;
}

section.lower-section .section-wrapper .box-item.image {
  aspect-ratio: 692 / 800;
}

section.lower-section .section-wrapper .box-item.introduction {
  background-color: #F4F0EA;
}

section.lower-section .section-wrapper .box-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


section.lower-section .section-wrapper .box-item .introduction-wrapper {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  flex-direction: column;
  row-gap: var(--box-spacing);
  padding: 0 48px 48px 49px;
  height: 100%;
}

section.lower-section .section-wrapper .box-item .introduction-wrapper.box2 {
  padding: 0 48.5px 70px;
  row-gap: 40px;
}

section.lower-section .section-wrapper .box-item .introduction-wrapper .introduction-heading {
  color: var(--black-color);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(74 / 64);
  font-family: "Lora", serif;
}

section.lower-section .section-wrapper .box-item .introduction-wrapper .introduction-content h4 {
  color: var(--black-color);
  font-family: "Lato", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(30 / 20);
  margin-bottom: var(--item-spacing);
}

section.lower-section .section-wrapper .box-item .introduction-wrapper .introduction-content p,
section.lower-section .section-wrapper .box-item .box2 p {
  color: var(--black-color);
  font-family: "Lato", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(22 / 14);
  letter-spacing: 0.11px;
}

section.lower-section .section-wrapper .box-item .box2 .introduction-paragraph {
  /* height: 170px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 1rem;
}

section.lower-section .section-wrapper .box-item .box2 .introduction-paragraph p:first-of-type {
  letter-spacing: 0.05px;
}

section.lower-section .section-wrapper .box-item .box2 .introduction-paragraph p:nth-of-type(2) {
  letter-spacing: 0.08px;
}

section.lower-section .section-wrapper .box-item .box1 p {
  letter-spacing: 0.06px;
}

section.lower-section .section-wrapper .box-item .introduction-wrapper .introduction-content h4.content3 {
  letter-spacing: 0.15px;
}

@media screen and (max-width: 575.98px) {
  .page-spacing {
    height: 40px;
  }

  .container {
    padding: 0 8px;
  }

  /* Upper section */
  section.upper-section {
    gap: 0;
  }

  section.upper-section h3 {
    text-align: center;
    font-family: "Lora", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: calc(42 / 32);
  }

  section.upper-section .section-desc p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
  }

  section.upper-section .section-desc p:nth-of-type(1) {
    line-height: calc(21.75 / 14);
    letter-spacing: 0.06px;
  }

  section.upper-section .section-desc p:nth-of-type(2) {
    margin-top: 18px;
    line-height: calc(22 / 14);
  }

  section.upper-section .images-wrapper {
    padding: 27px 0;
  }

  section.upper-section .images-wrapper {
    column-gap: var(--mobile-item-spacing);
  }

  section.upper-section .images-wrapper .images-item {
    max-width: 100%;
  }

  /* Lower section */
  section.lower-section {
    margin: 0;
  }

  section.lower-section .section-wrapper {
    grid-template-columns: 1fr;
  }

  section.lower-section .section-wrapper .box-item {
    border-radius: var(--small-border-radius);
    height: auto;
  }

  section.lower-section .section-wrapper .box-item.image {
    aspect-ratio: 359 / 422;
  }

  section.lower-section .section-wrapper .box-item:nth-child(1) {
    order: 2;
  }

  section.lower-section .section-wrapper .box-item:nth-child(2) {
    order: 1;
  }

  section.lower-section .section-wrapper .box-item:nth-child(3) {
    order: 3;
  }

  section.lower-section .section-wrapper .box-item:nth-child(4) {
    order: 4;
  }

  section.lower-section .section-wrapper .box-item .introduction-wrapper {
    row-gap: 16px;
  }

  section.lower-section .section-wrapper .box-item .introduction-wrapper.box1 {
    padding: 34px 18px 42px;
  }

  section.lower-section .section-wrapper .box-item .introduction-wrapper .introduction-content h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(30 / 18);
  }

  section.lower-section .section-wrapper .box-item .introduction-wrapper .introduction-heading {
    font-size: 32px;
    font-weight: 400;
    line-height: calc(42 / 32);
  }

  section.lower-section .section-wrapper .box-item .introduction-wrapper.box2 {
    padding: 20px 18px;
    row-gap: 16px;
  }

  section.lower-section .section-wrapper .box-item .box1 p {
    letter-spacing: 0.06px;
  }

  section.lower-section .section-wrapper .box-item .introduction-wrapper.box2 .introduction-heading {
    font-family: "Lato", serif;
  }

}